
grant {
	permission java.net.SocketPermission "*:23456", "listen";
	permission java.net.SocketPermission "*:*", "accept";
};

grant {
    permission java.io.FilePermission "<<ALL FILES>>", "read,write,delete";
};

/* java -Djava.security.manager -Djava.security.policy=<URL>*/