
grant {
	permission java.net.SocketPermission "*:23456", "listen";
	permission java.net.SocketPermission "*:*", "accept";
};

grant {
    permission java.io.FilePermission "./-", "read,write,delete";
};

grant {
   permission java.util.PropertyPermission "*", "read,write";
};

grant {
      permission java.lang.RuntimePermission "loadLibrary./Applications/IntelliJ IDEA 13 CE.app/bin/libbreakgen64.jnilib";
};

/* -Djava.security.manager -Djava.security.policy=./policy/SecShareServer.policy */
